#map-component {
  display: block;
  width: 100%;
  height: inherit;
  margin-bottom: 1em;

  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;

    #map {
      width: 60%;
    }

    #places-list {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 1.5em;

      .place {
        display: flex;
        flex-direction: column;
        height: 50px;

        .name {
          display: inline-block;
        }

        .address {
          display: inline-block;
        }
      }
    }
  }
}
